<div class="row">
  <div class="col p-5" align="center">
    <article class="faq-card">
      <div class="faq__content">
        <h1 class="faq__title">FAQ</h1>
        <div class="faq__item">
          <h2 class="faq__question">-Who can register Malaysia Swimming Federation?
            This event open to all Malaysian.<img class="arrow-icon" src="images/icon-arrow-down.svg" alt=""
              aria-hidden=“true”></h2>
        </div>
        <div class="faq__item">
          <h2 class="faq__question">-I have a problem with my registration. What should I do?

            Please screenshot the error message and email to info@swimming.asia, we will help and rectify the problem as
            soon as possible<img class="arrow-icon" src="images/icon-arrow-down.svg" alt="" aria-hidden=“true”></h2>

        </div>
        <div class="faq__item">
          <h2 class="faq__question">- I have a problem with my record/result submission. What should I do?

            Please makesure screenshot the error message and email to info@swimming.asia together with your participant
            id and participant name that you registered, we will revert to you within 24 hours.<img class="arrow-icon"
              src="images/icon-arrow-down.svg" alt="" aria-hidden=“true”></h2>
        </div>
      </div>

      <div class="imgs__container">
        <picture>
          <source media="(min-width:900px)"
            srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/bg-pattern-desktop.svg">
          <source media="(min-width:0px)"
            srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/bg-pattern-mobile.svg">
          <img class="img-bg" src="" alt="" aria-hidden=“true”>
        </picture>
        <picture>
          <source media="(min-width:900px)"
            srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/illustration-woman-online-desktop.svg">
          <source media="(min-width:0px)"
            srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/illustration-woman-online-mobile.svg">
          <img class="img-woman" src="" alt="" aria-hidden=“true”>
        </picture>

      </div>
      <picture>
        <source media="(min-width:900px)"
          srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/illustration-box-desktop.svg">
        <img class="img-box" src="" alt="" aria-hidden=“true”>
      </picture>

    </article>
  </div>
</div>
