<div class="row">
  <div class="col p-5" align="center">
    <article class="faq-card">
      <div class="faq__content">
        <h1 class="faq__title">About us</h1>
        <div class="faq__item">
          <h2 class="faq__question">Welcome to the official website of the Malaysia Swimming Federation (also known as Persekutuan Renang Malaysia).
            Malaysia Swimming Federation (MAS) was formerly known as Amateur Swimming Union of Malaysia (ASUM) and was registered under the Sports Development Act 1997 on 10 June 1998 and is a member of the Olympic Council of Malaysia.
            MAS is affiliated to the Fédération internationale de natation (FINA) and was created to promote the sport of aquatics (swimming, diving, artistic swimming, water polo, open water swimming, para swimming and master swimming) in Malaysia.<img class="arrow-icon" src="images/icon-arrow-down.svg" alt=""
              aria-hidden=“true”></h2>
        </div>
      </div>

      <div class="imgs__container">
        <picture>
          <source media="(min-width:900px)"
            srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/bg-pattern-desktop.svg">
          <source media="(min-width:0px)"
            srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/bg-pattern-mobile.svg">
          <img class="img-bg" src="" alt="" aria-hidden=“true”>
        </picture>
        <picture>
          <source media="(min-width:900px)"
            srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/illustration-woman-online-desktop.svg">
          <source media="(min-width:0px)"
            srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/illustration-woman-online-mobile.svg">
          <img class="img-woman" src="" alt="" aria-hidden=“true”>
        </picture>

      </div>
      <picture>
        <source media="(min-width:900px)"
          srcset="https://kellychi22.github.io/frontend-mentor-solutions/09-faq-accordion-card/images/illustration-box-desktop.svg">
        <img class="img-box" src="" alt="" aria-hidden=“true”>
      </picture>

    </article>
  </div>
</div>
